---
    import Layout from "@/layouts/baselayout.astro"
---

<Layout>
    <main class="h-[calc(100dvh-80px)] grid place-items-center">
        <p class="text-3xl font-bold">Ooooops... 404 page not found!</p>
    </main>
</Layout>